.card {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    height: 50px;
    width: 50px;
}

.cards-list {
    position: relative;
    width: 65px;
    height: 600px;
    float: left;
    margin-right:14px;
    margin-top: 100px; 
  }